.navbar {
    box-shadow: 0 2px 5px rgba(189, 189, 194, 0.1);
    background: #081b29;
}

.navbar-brand {
    font-weight: 700;
    font-size: 1.5rem;
}

.nav-link {
    font-weight: 500;
    text-transform: uppercase;
    margin-right: 1rem;
    transition: color 0.3s;
}

.nav-link:hover {
    color: #efd699 !important;
}

.nav-link.active {
    color: #0b0a0a !important;
}

.form-control {
    border-radius: 20px 0 0 20px;
}

.btn-outline-light {
    border-radius: 0 20px 20px 0;
}